.app-wrapper-login {
        background-color: #30339c;
        width: 25%;
        min-width: 450px;
        height: 600px;
        padding: 50px;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
        margin: 0 auto;
        
      }
      .btn-login {
        width: 330px;
    }
    .login-welcome {
      height: 30vh;
      min-width: 18vw;
      
      flex-direction: column;
      font-size: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      


   @media screen and (max-width: 767px) {
    .Login {
        padding: 10% 0;
      }
    
      .Login form {
        margin: 0 auto;
        max-width: 250px;
        
      }
      .app-wrapper-login {
        background-color:  #30339c;
        width: 50%;
        min-width: 70vw;
        height: 350px;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 5px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 1);
        margin: 0, auto;
      }
      .btn-login {
          width: 45.5vw;
      }
      .login-welcome {
        height: 30vh;
        min-width: 18vw;
        padding-top: 15vh;
        flex-direction: column;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
   }
   @media screen and (max-width: 414px) {
    
      .login-welcome {
        height: 30vh;
        min-width: 18vw;
        padding-top: 10vh;
        flex-direction: column;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
   }