.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.home-main-section .lady-image {
 
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  
 
}
.home-main-section img {
  max-height: 80vh;
  min-width: 30vw;
  flex-grow: 1;
  
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

.subtitle {
  font-size: 3rem;
  font-family: Roboto Slab, serif;
}

.accent-done {
  margin-left: 10px;
  color: #BC3A80;
}

.btn {
  color: white;
 background-color: #BC3A80;
  padding: .75rem 1.5rem;
 border-radius: .5rem;
 text-decoration: none;
 font-size: 1.5rem;
 outline: none;
 border: none;
 cursor: pointer;
 margin-top: 20px;
}

.btn:hover {
 background-color: #d64392;
}

.btn:focus {
 background-color: #c94089;
}

@media screen and (max-width: 1080px) {
  

  .home-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
   
  }
.accent-done {
  font-size: 5rem;
}
.home-main-section .subtitle {
  font-size: 1.75rem;
}
.home-main-section .title {
  font-size: 5rem;
}
.home-main-section .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}
}



@media screen and (max-width: 767px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
   
  }
  
.accent-done {
  font-size: 5rem;
  
}
.home-main-section .subtitle {
  font-size: 2rem;
}
.home-main-section .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
}
.call-to-action {
  
  padding-top: 50%;
}
}
@media screen and (max-width: 414px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
   
  }
  .home-main-section .title {
    font-size: 4rem;
  }
  
.accent-done {
  font-size: 4rem;
  
}
.home-main-section .subtitle {
  font-size: 1.5rem;
}
.home-main-section .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
}
.call-to-action {
  
  padding-top: 50%;
}
}


.home-page-circle-1 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(255, 1, 137, 0.1);
  bottom: 5vw;
  left: 5vw;
  z-index: -1;
}

.home-page-circle-2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: rgba(7, 22, 59, 0.1);
  top: 15vh;
  left: 30vw;
  z-index: -1;
}

.home-page-circle-3 {
  position: absolute;
  overflow: hidden;
  width: 45vw;
  height: 45vw;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.home-page-circle-3::before {
  content: '';
  transform: translate(10%, 10%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(69, 134, 31, 0.1);
}
